<div class="p-4 bg-b">
  <div class="card bg-c">
    <p class="p-4">The Slide Puzzle game will have three buttons: a “Reset” button that will undo any moves the player has made, a “New”
      button that will create a new slide puzzle, and a “Solve” button that will solve the puzzle for the player.</p>
    <p class="p-4">
      <button class="btn btn-primary" (click)="newClicked()">New</button>
      <button class="btn btn-primary" (click)="resetClicked()">Reset</button>
      <button class="btn btn-primary" (click)="solveClicked()">Solve</button>
    </p>
  </div>
</div>
<div class="pl-4 pb-4 pr-4  bg-b">
  <div class="card p-4 bg-c">
    <slider-game-board></slider-game-board>
  </div>
</div>
