<div>
  <div>
    <p>The Slide Puzzle game will have three buttons: a “Reset” button that will undo any moves the player has made, a “New”
      button that will create a new slide puzzle, and a “Solve” button that will solve the puzzle for the player.</p>
    <p>
      <button class="btn btn-primary" (click)="newClicked()">New</button>
      <button class="btn btn-primary" (click)="resetClicked()">Reset</button>
      <button class="btn btn-primary" (click)="solveClicked()">Solve</button>
    </p>
  </div>
</div>
<div>
  <div>
    <slider-game-board></slider-game-board>
  </div>
</div>
